/*------------------------------------------------------------------
1. Global
2. Text  (line 45)
3. Margin  (line 96)
4. Padding (line 149)
-------------------------------------------------------------------*/

html {height: 100%}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {font-family: "Roboto", sans-serif;}
body{overflow-x: hidden; font-family:'Open Sans',sans-serif;font-size:14px;line-height:28px;font-weight:normal;color:#666;-webkit-font-smoothing:antialiased; background-color: #FAFAFA;height: 100%}
a{color:#8F8F8F;text-decoration:none}
a:hover,a:focus,.btn:focus{text-decoration:none;outline:none;color:#6c6b6b}
input:focus,textarea:focus, select:focus{outline:0}
h1{font-size:72px;line-height:82px}
h2{font-size:40px;line-height:50px; font-weight: 300;}
h3{font-size:32px;line-height:45px}
h4{font-size:18px;line-height:30px}
h5{font-size:16px;line-height:25px}
.height-full {min-height: 600px;}
.displaynone{display: none !important;}
p{color :#666;}

/********* BACKGROUND **********/
.bg-purple{background: #763568}
.bg-yellow{background: #ee6416}
.bg-white{background-color: #FFF;color:#28292A;}

/********* Text **********/
.t-black{color : #28292A !important;}
.t-grey{color : #666 !important;}
.font-open {font-family: 'Open Sans',arial;}
.font-raleway {font-family: 'Raleway',arial;}
.line-through{text-decoration:line-through}
.t-ellipsis{text-overflow:ellipsis;display:block;white-space:nowrap;overflow:hidden}
.bigger-110{font-size:110%!important}
.bigger-120{font-size:120%!important}
.f-5{font-size:5px!important}
.f-6{font-size:6px!important}
.f-7{font-size:7px!important}
.f-8{font-size:8px!important}
.f-9{font-size:9px!important}
.f-10{font-size:10px!important}
.f-11{font-size:11px!important}
.f-12{font-size:12px!important}
.f-13{font-size:13px!important}
.f-14{font-size:14px!important}
.f-15{font-size:15px!important}
.f-16{font-size:16px!important}
.f-17{font-size:17px!important}
.f-18{font-size:18px!important}
.f-19{font-size:19px!important}
.f-20{font-size:20px!important}
.f-24{font-size:24px!important}
.f-26{font-size:26px!important}
.f-28{font-size:28px!important}
.f-30{font-size:30px!important}
.f-32{font-size:32px!important}
.f-34{font-size:34px!important}
.f-36{font-size:36px!important}
.f-38{font-size:38px!important}
.f-40{font-size:40px!important}
.f-60{font-size:60px!important}
.f-65{font-size:65px!important}
.f-80{font-size:80px!important}
.f-150{font-size:150px!important}
.text-sm{font-size:.8em}
.text-2x{font-size:2em}
.text-3x{font-size:3em}
.text-4x{font-size:4em}
.t-center{text-align:center!important}
.t-left{text-align:left!important}
.t-right{text-align:right!important}
.l-through{text-decoration:line-through}
.bold{font-weight:600!important}
.w-300{font-weight:300!important}
.w-500{font-weight:500!important}
.w-600{font-weight:600!important}
.w-700{font-weight:700!important}
.t-60 {top:60px;}
.center{text-align:center}
.left{text-align:left}
.right{text-align:right}
.justify{text-align:justify}
.section-title {color:#28292A; text-transform: uppercase;font-family: 'Lato', sans-serif;letter-spacing: 3px;margin-top:0;margin-bottom:10px;padding:8px 0}
[class*="bg-"]:not(.bg-gray-light):not(.bg-white) .section-title {color:#fff;}
h3.section-title {font-size: 22px;font-weight: 500;}
h4.section-title {font-size: 18px}
h1.bmg-title{font-size: 60px;color: white;font-family:'Dancing Script', cursive;letter-spacing: 3px;margin-top:0;margin-bottom:10px;padding:8px 0; font-weight: bold}
h1.home-title{font-size:30px;color: white;text-transform: uppercase;font-weight: 300;font-family: 'Lato', sans-serif;letter-spacing: 7px;margin-top:0;margin-bottom:10px;padding:8px 0}
/****  Margin  ****/
.m-auto {margin:auto;}
.m-0 {margin:0 !important;}
.m-5 {margin:5px !important;}
.m-10 {margin:10px !important;}
.m-20 {margin:20px !important;}

/****  Margin Top  ****/
.m-t-0 {margin-top:0px !important;}
.m-t-5{margin-top:5px !important; }
.m-t-10{margin-top:10px !important;}
.m-t-12{margin-top:12px !important;}
.m-t-20{margin-top:20px !important;}
.m-t-30{margin-top:30px !important;}
.m-t-40{margin-top:40px !important;}
.m-t-50{margin-top:50px !important;}
.m-t-60{margin-top:60px !important;}
.m-t-70{margin-top:70px !important;}
.m-t-80{margin-top:80px !important;}
.m-t-100{margin-top:100px !important;}

/****  Margin Bottom  ****/
.m-b-0 {margin-bottom:0px !important;}
.m-b-5 {margin-bottom:5px !important;}
.m-b-6 {margin-bottom:6px !important;}
.m-b-10 {margin-bottom:10px !important;}
.m-b-12 {margin-bottom:12px !important;}
.m-b-15 {margin-bottom:15px !important;}
.m-b-20 {margin-bottom:20px !important;}
.m-b-30 {margin-bottom:30px !important;}
.m-b-40 {margin-bottom:40px !important;}
.m-b-50 {margin-bottom:50px !important;}
.m-b-60 {margin-bottom:60px !important;}
.m-b-80 {margin-bottom:80px !important;}
.m-b-100{margin-bottom:100px !important;}
.m-b-140{margin-bottom:140px !important;}
.m-b-245 {margin-bottom:245px !important;}
.m-b-m30 {margin-bottom:-30px !important;}
.m-b-m50 {margin-bottom:-50px !important;}

/****  Margin Left  ****/
.m-l-0 {margin-left:0 !important;}
.m-l-5 {margin-left:5px !important;}
.m-l-10 {margin-left:10px !important;}
.m-l-20 {margin-left:20px !important;}
.m-l-30 {margin-left:30px !important;}
.m-l-60 {margin-left:60px !important;}

/****  Margin Right  ****/
.m-r-0 {margin-right:0 !important;}
.m-r-5 {margin-right:5px !important;}
.m-r-10 {margin-right:10px !important;}
.m-r-20 {margin-right:20px !important;}
.m-r-30 {margin-right:30px !important;}
.m-r-60 {margin-right:60px !important;}

/****  Padding  ****/
.p-0 {padding:0 !important;}
.p-5 {padding:5px !important;}
.p-10 {padding:10px !important;}
.p-15 {padding:15px !important;}
.p-20 {padding:20px !important;}
.p-30 {padding:30px !important;}
.p-40 {padding:40px !important;}
.p-60 {padding:40px !important;}

/****  Padding Top  ****/
.p-t-0 {padding-top:0 !important;}
.p-t-10 {padding-top:10px !important;}
.p-t-20 {padding-top:20px !important;}
.p-t-30 {padding-top:30px !important;}
.p-t-40 {padding-top:40px !important;}
.p-t-60 {padding-top:60px !important;}
.p-t-100 {padding-top:100px !important;}
.p-t-80 {padding-top:80px !important;}
.p-t-120 {padding-top:120px !important;}
.p-t-180 {padding-top:180px !important;}

/****  Padding Bottom  ****/
.p-b-0 {padding-bottom:0 !important;}
.p-b-10 {padding-bottom:10px !important;}
.p-b-20 {padding-bottom:20px !important;}
.p-b-30 {padding-bottom:30px !important;}
.p-b-40 {padding-bottom:40px !important;}
.p-b-60 {padding-bottom:60px !important;}
.p-b-80 {padding-bottom:80px !important;}
.p-b-100 {padding-bottom:100px !important;}
.p-b-120 {padding-bottom:100px !important;}

/****  Padding Left  ****/
.p-l-0 {padding-left:0 !important;}
.p-l-5 {padding-left:5px !important;}
.p-l-10 {padding-left:10px !important;}
.p-l-20 {padding-left:20px !important;}
.p-l-30 {padding-left:30px !important;}
.p-l-40 {padding-left:40px !important;}
.p-l-60 {padding-left:60px !important;}

/*** Padding Right  ****/
.p-r-0 {padding-right:0 !important;}
.p-r-5 {padding-right:5px !important;}
.p-r-10 {padding-right:10px !important;}
.p-r-20 {padding-right:20px !important;}
.p-r-30 {padding-right:30px !important;}
.p-r-60 {padding-right:60px !important;}

/*** Border ***/
.no-border{border:none!important;box-shadow:none}
.no-bd{border:none!important;box-shadow:none}
.border{border:1px solid #efefef!important; background-color: #FFF}
.bordertransparent{border:1px solid #efefef!important; background-color: transparent;}
.border-primary{border-color:#319DB5; background-color: #FFF}
.border-gray{border:1px solid #efefef}
.border-green{border:1px solid #87D37C; background-color: #FFF}
.border-yellow{border:1px solid #ee6416; background-color: transparent; color: #ee6416}
.border-purple{border:1px solid #763568; background-color: #FFF}
.border-bottom{border-bottom:1px solid #efefef!important}
.border-top{border-top:1px solid #efefef!important}
.border-top.bg-gray-light{border-top:1px solid #fff!important}
.border-right{border-right:1px solid #efefef!important}
.border-left{border-left:1px solid #efefef!important}
.border-hor{border-bottom:1px solid #efefef!important;border-top:1px solid #efefef!important}
.border-ver{border-left:1px solid #efefef!important;border-right:1px solid #efefef!important}
.bd-0{-moz-border-radius:0!important;-webkit-border-radius:0!important;border-radius:0!important}
.bd-3{-moz-border-radius:3px!important;-webkit-border-radius:3px!important;border-radius:3px!important}
.bd-6{-moz-border-radius:6px!important;-webkit-border-radius:6px!important;border-radius:6px!important}
.bd-9{-moz-border-radius:9px!important;-webkit-border-radius:9px!important;border-radius:9px!important}
.bd-full{-moz-border-radius:50%!important;-webkit-border-radius:50%!important;border-radius:50%!important}
.bd-50p{-moz-border-radius:50%!important;-webkit-border-radius:50%!important;border-radius:50%!important}
.hidden{overflow: hidden}

/*** Title ***/
.title-note-section{
	font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}
.title-name{
	letter-spacing: 6px;
}
.bloc-title{
	font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 40px;
}

/*** BOx shadow ***/
.boxshadow{
	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
}
/****  Forms  ****/
.form-control {font-family: 'Open sans',arial;display: inline-block;width: 100%;height: auto;line-height:normal;vertical-align: middle ;padding: 9px 12px 8px;font-size: 13px;color: #555;background-color: #ECEDEE;border:1px solid #ECEDEE;border-radius: 0;-moz-transition:all .2s ease-out 0;-webkit-transition:all .2s ease-out 0;transition:all .2s ease-out 0;-webkit-box-shadow: none !important;box-shadow: none !important;}
.form-control.form-white {color: #555;background-color: #fff;border:1px solid #ECEDEE; }
.prepend-icon input, .prepend-icon span ,.prepend-icon select{padding-left: 38px;}
.prepend-icon{position: relative;}
.prepend-icon i{color:#1B1E25;color:rgba(27, 30, 37, 0.3);font-size: 16px;top: 0;left: 0;width: 36px;height: 38px;line-height: 38px;position: absolute;text-align: center;}
.prepend-icon i {left: 15px;}


/****** BOUTON *******/
.btn{-webkit-font-smoothing:subpixel-antialiased;-webkit-transition:border .25s linear,color .25s linear,background-color .25s linear;border:none; font-size:14px !important; font-weight:400;margin-bottom:10px;margin-right:10px;padding:7px 24px 8px !important;transition:border .25s linear,color .25s linear,background-color .25s linear;vertical-align:middle;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn.btn-transparent{background-color:transparent;margin-left:0;margin-right:0px}
.btn.btn-transparent:hover{color:#464646}
.btn-orange{border:1px solid #ee6416!important;color:#fff;background-color:#ee6416}
.btn-orange.btn-transparent{border:1px solid #ee6416!important;color:#ee6416;background-color:transparent!important}
.btn.btn-orange:hover{border:1px solid #ee6416!important;color:#fff;background-color:#ee6416!important}

.btn-purple{border:1px solid #763568!important;color:#fff;background-color:#763568}
.btn-purple.btn-transparent{border:1px solid #763568!important;color:#763568;background-color:transparent!important}
.btn.btn-purple:hover{background-color:#763568 !important;border-color:#763568;color:#fff}

/********* HEADER ************/
.dropdown-menu {
  background-color: #28292A;
  border-radius: 0px; 
}
#user-header img {
  float: left;
  margin-right: 6px;
  margin-top: 6px;
  width: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/**/
.dropdown-menu li {
  background: none;
  padding: 0;
}
.dropdown-menu li ul li {
  padding: 12px 10px 6px 10px;
}

.dropdown-menu li ul li a {
  display: block;
  width: 100%;
}
.dropdown-menu li ul li a i {
  width: 30px;
}

.dropdown-menu li a i {
  padding-right: 0;
}
#user-header {
  margin-right: 10px;
}

#user-header img {
  float: left;
  margin-right: 6px;
  margin-top: -6px;
  width: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#user-header .dropdown-menu li a {
  background: #2b2e33;
  color: #959FA9;
  display: block;
  font-size: 13px;
  padding: 10px 12px;
}

#user-header .dropdown-menu li a i {
  padding-right: 8px;
  position: absolute;
}
#user-header .dropdown-menu li a span {
  padding-left: 25px;
}
/**/
.navbar{
    margin-bottom: 0px !important;
    min-height: 70px;
    border-radius: 0px;
    z-index: 999;
}
.navbar-default{
    background-color : #28292A;
    border-color: #28292A;
}
.navbar-brand{ background-image: url(../images/logo/logo2_gris.png); background-size :contain; background-repeat: no-repeat; width: 200px;}
.navbar-nav li a ,.navbar-brand{
    padding-top: 25px;
    color: rgba(255,255,255, 0.8) !important;
    background-color: transparent !important;
}
.navbar-nav li a:hover{
    background-color: transparent;
    padding-top: 25px;
    color: rgba(255,255,255, 1) !important;
}
.container-fluid{
    margin-right: 40px !important;
    margin-left: 40px !important;
}
.btheader{
    padding-top: 15px !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #28292A;
    text-align: center;
}
.navbar-default .navbar-toggle {
    border-color: #28292A;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-toggle {
    padding: 17px 10px;
}
.topnav.fixed-topnav {
    position: fixed;
    width: 100%;
    z-index: 900;
    top: 0;
}
.topnav.transparent {background:transparent}
.topnav:not(.transparent){background:#28292A}



/*******  CARROUSEL      ************/
.owl-carousel, .owl-carousel .owl-wrapper-outer, .owl-carousel .owl-wrapper, .owl-carousel .owl-item, .owl-carousel .item, .owl-carousel section {height: 100%;}
.owl-theme .owl-controls {position: absolute;display: block;width: 100%;bottom: 0;left: 0;text-align: center;}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    width: 100%;
    height: auto;
}
.owl-theme .owl-controls .owl-page span {background:rgba(255,255,255,0.5);}
.owl-theme .owl-controls .owl-page.active span {background:rgba(255,255,255,0.7); }


/*******  LIST       ************/
.list-two {margin-left: 0px;margin-top: 20px;}
.list-two li {float: left;margin-bottom: 20px;padding: 0 27px;position: relative;width: 50%;text-align: left;list-style-type: none;}
.list-two li:after {height: 18px;position: absolute;width: 18px;content: "\f105";font-family: "FontAwesome";color: #929292;text-align: center;font-size: 11px;line-height: 18px;left: 0;top: 5px;text-indent: 1px;}

/******* OVERLAY *************/
.section-overlay{position:absolute;width:100%;height:100%;top: 0;}
.section-overlay{background:rgba(0,0,0,.2)!important;z-index:1}

